<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Dosis:wght@500&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Protest+Riot&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=PT+Serif&family=Playfair+Display:ital,wght@1,500&family=Protest+Riot&family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <title>What am I used for?-Electrical Power Installation</title>
        <script>
            // Wait for DOM content to load
            document.addEventListener('DOMContentLoaded', function() {

                // Get all elements with class "correct"
                let corrects = document.querySelectorAll('.correct');

                // Add event listeners to each correct button
                for (let i = 0; i < corrects.length; i++) {
                    corrects[i].addEventListener('click', function() {

                        // Set background color to green
                        corrects[i].style.backgroundColor = 'Green';

                        // Go to parent element of correct button and find the first element with class "feedback" which has that parent
                        corrects[i].parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                    });
                }

                // When any incorrect answer is clicked, change color to red
                let incorrects = document.querySelectorAll(".incorrect");
                for (let i = 0; i < incorrects.length; i++) {
                    incorrects[i].addEventListener('click', function() {

                        // Set background color to red
                        incorrects[i].style.backgroundColor = 'Red';

                        // Go to parent element of correct button and find the first element with class "feedback" which has that parent
                        incorrects[i].parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                    });
                }
            });
        </script>
    </head>
    <body class="page3">
        <div class="header">
            <h1>WHAT AM I USED FOR?</h1>
        </div>
        <div class="container">
            <div class="section">
                <h3>Choose one of the best answers by clicking the box!</h3>
                <hr>
                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/nymcable.png') }}" alt="automotivetool" width="100" height="250">
                    <h5>1. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a cable that consists of more than one copper core and PVC insulation to make it safe in dry place for indoors or outdoors</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is designed to make it easier for us to strip or cut cables</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to ensure safety and prevent electrical hazards in the appliances or devices</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical installation material that functions as a connector between electric current and electrical equipment</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/terminal.png') }}" alt="automotivetool" width="100" height="200">
                    <h5>2. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to cutting and skinning wires, cutting and removing pins, nails, and other fasteners</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is used to hold, straightened, twist, and cut wires</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is an electrical connector which are used to transfer electrical current from a power or grounding source to a use</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/cuttingpliers.jpg') }}" alt="automotivetool" width="150" height="150">
                    <h5>3. What is the function of the tool above?</h5>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a tool used to cutting and skinning wires, cutting and removing pins, nails, and other fasteners</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a small device that is used to to tie or unite two or more objects tightly</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is used to hold, straightened, twist, and cut wires</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/mcb.png') }}" alt="automotivetool" width="150" height="200">
                    <h5>4. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a small device that is used to to tie or unite two or more objects tightly</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is designed to make it easier for us to strip or cut cables</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a device that is used to ensure safety and prevent electrical hazards in the appliances or devices</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/pliers.jpg') }}" alt="automotivetool" width="150" height="150">
                    <h5>5. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a small device that is used to to tie or unite two or more objects tightly</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a tool that is used to hold, straightened, twist, and cut wires</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a cable that consists of more than one copper core and PVC insulation to make it safe in dry place for indoors or outdoors</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/electricsocket.png') }}" alt="automotivetool" width="150" height="150">
                    <h5>6. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical connector which are used to transfer electrical current from a power or grounding source to a use</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to ensure safety and prevent electrical hazards in the appliances or devices</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to cutting and skinning wires, cutting and removing pins, nails, and other fasteners</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is an electrical installation material that functions as a connector between electric current and electrical equipment</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/wirestripper.jpg') }}" alt="automotivetool" width="150" height="150">
                    <h5>7. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a small device that is used to to tie or unite two or more objects tightly</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a tool that is designed to make it easier for us to strip or cut cables</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to cutting and skinning wires, cutting and removing pins, nails, and other fasteners</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/screwdriver.jpg') }}" alt="automotivetool" width="150" height="150">
                    <h5>8. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to cutting and skinning wires, cutting and removing pins, nails, and other fasteners</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to ensure safety and prevent electrical hazards in the appliances or devices</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is designed to make it easier for us to strip or cut cables</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a cable that consists of more than one copper core and PVC insulation to make it safe in dry place for indoors or outdoors</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/switch.png') }}" alt="automotivetool" width="150" height="150">
                    <h5>9. What is the function of the tool above?</h5>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a device that is used to turn electric circuits on and off and to switch electric circuits</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical installation material that functions as a connector between electric current and electrical equipment</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical connector which are used to transfer electrical current from a power or grounding source to a use</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a device that is used to ensure safety and prevent electrical hazards in the appliances or devices</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a cable that consists of more than one copper core and PVC insulation to make it safe in dry place for indoors or outdoors</button>
                    <p class="feedback"></p>
                </div>

                <!-- Add free response question here -->
                <div class="question">
                    <img src="{{ url_for('static', filename='images/screw.jpg') }}" alt="automotivetool" width="150" height="150">
                    <h5>10. What is the function of the tool above?</h5>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool that is designed to make it easier for us to strip or cut cables</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical installation material that functions as a connector between electric current and electrical equipment</button>
                    <button class="correct" style="text-align: left; font-size: 20px;">It is a small device that is used to to tie or unite two or more objects tightly</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is an electrical connector which are used to transfer electrical current from a power or grounding source to a use</button>
                    <button class="incorrect" style="text-align: left; font-size: 20px;">It is a tool used to open or tighten bolts or screws on various objects</button>
                    <p class="feedback"></p>
                </div>
            </div>
        </div>

        <!-- Create a button that links to another page of the web -->
        <a href='/clicktostart'>
            <button class="button">Back</button>
        </a>
    </body>
</html>

